body {
    background-color: #05080a;
    color: #f1c40f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-top {
    border: 2px solid #f1c40f;
    box-shadow: 0 0 15px #f1c40f;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 5px #f1c40f; }
    to { box-shadow: 0 0 20px #f1c40f; }
}

input {
    border-bottom: 2px solid #f1c40f !important;
}
